{
  "printWidth": 80,
  "semi": false,
  "singleQuote": true,
  "vueIndentScriptAndStyle": false,
  "htmlWhitespaceSensitivity": "ignore",
  "singleAttributePerLine": true,
  "bracketSameLine": false
}